.addfile{
  width: 100%;
  height:100vh;
}
.addfile .title{
  width:100%;
  height:35px;
  padding:5px;
  color:#666666;
  border-bottom:1px solid #eee;
  line-height: 35px;
}
.add{
  width:100%;
  height:40px;
  line-height: 40px;
  background: #ff9900;
  color:#fff;
  font-size: 0.9rem;
  text-align: center;
  position: fixed;
  bottom:0px;
  left:0px;
}